.icon {
  margin-right: 10px;
}
.icon:hover {
  color: red;
}
.icon2{
  color: rgb(230, 75, 24);
}
.icon2:hover {
  color: rgb(233, 150, 122);
}

.btnEnviar {
  margin-right: 10%;
  background: #28ba62;
  color: white;
}

.btnEnviar:hover {
  background: #35db77;
  color: white;
}
.iconLogOut{
margin: 20px;
}
/* DOES NOT WORK - not specific enough */
.alert-wrapper {
  background: #929191;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}
.my-custom-class {
  --background: #0f0f0f;
}
.flex{

  display: flex;
  
  align-items: center;
}